.navbar {
    background-image: linear-gradient(-90deg, #ff6600, #A865B5);
}

.navbar-brand, .nav-link {
    color: white !important;
}


.jumbotron {
    background: url("../images/william-warby-ld4wZGqlLF4-unsplash.jpg") center;
    background-size: cover;
}

.lead {
    text-decoration: wavy;
    margin: 0px;
    color: white;
}


.profilePic {
    position: relative;
    left: -60px;
    max-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.Pictureprof {
    display: flex;
    justify-content: flex-end;
}

.display-4 {
    color: white;
    margin-bottom: 30px;

}
